


<div class="container ">

<h1 class="escape ">Escape Together</h1>

<!--<form action="" class="main container ">-->
        Name: <span class="text-danger center-block"> <input type="text" ng-model="vm.user.name" required="" ></span>
        <div class="gender">
            <img ng-src="img/common/m.png" alt="">
            <input type="radio" ng-model="vm.user.gender" value="M" />
            <img ng-src="img/common/f.png" alt="">
            <input type="radio" ng-model="vm.user.gender" value="F" />
        </div>
        <button ng-click="vm.add(user)"   >Lock Me Up!</button>
    <!--</form>-->

</div>
